{% comment %}
  A placeholder for customizing head.
{% endcomment %}
<link rel="icon" type="image/x-icon" href="{{ '/favicon.png' | site.baseurl }}">
<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
<title>{{ site.title }} {% if page.title %} | {{ page.title }} {% endif %}</title>

<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% endif %}">
<meta name="twitter:image" content="{% if page.image %}{{ page.image | absolute_url }}{% else %}{{ site.card-image | absolute_url }}{% endif %}">
<meta name="twitter:description" content="{% if post.description %}{{ post.description }}{% elsif post.excerpt %} {{ post.excerpt }} {% elsif page.description %} {{ page.description }} {% endif %}">
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@basicavisual">
<meta name="twitter:image:alt" content="{% if page.image-alt %} {{}} {% else %} Imagen no disponible {% endif %}">